@model Message

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Weezer/Rivers Cuomo Stories Page</h1>
<p>
    Fill in the boxes below and write a story about rivers to be posted in the stories section
</p>
<form method="Post">

    <label for="Title">Title:</label>
    <input id="Title" name="Title"><br>

    <label for="Topic">Topic:</label>
    <input id="Topic" name="Topic"><br>

    <label for="YearDate">Year of the Story:</label>
    <input id="YearDate" name="YearDate"><br>

    <label for="StoryBody">Write your Story Here:</label>
    <input id="StoryBody" name="StoryBody"><br>

    <label for="Username">Name of Poster:</label>
    <input id="Username" name="Username"><br>


    <input type="submit"><br />

</form>
