@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<<div class="text-center">
    <h1>This page is dedicated to showing the sources for my page as well as other pages for weezer</h1>
    <br />
    <p>Here is a Link to a website dedicated to Weezer called <a href="https://www.weezerpedia.com/wiki/Main_Page">Weezerpedia!</a></p>
    <br />
    <br />
    <p>
        And this is the Wikipedia page made for <a href="https://en.wikipedia.org/wiki/Rivers_Cuomo">Rivers Cuomo</a>
    </p>
    <br />
    <p>
        All information i gathered has been ethically sourced Weezerpedia or Wikipedia.
        <br />
        And here is the official <a href="https://weezer.com/news">Weezer</a> website for news and information on their upcoming albums and tours

    </p>
</div>
