@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
     <h1 class="display-4">All About Rivers Cuomo</h1>
        <p>This webpage is a In-Depth History of Rivers and his band Weezer</p>
    
</div>
-
<br>
-<div class="text-center">
       <p>
        Rivers Cuomo is a Singer and Song Writter born in Manhatten NY on June 13th, 1970.
               Cuomo was born in New York City and raised in a number of Buddhist communities in the Northeastern U.S.
               until the age of 10, when his family settled in Connecticut.
               He played in several bands in Connecticut and California before forming Weezer in 1992.
        
    </p>
        <br />
        <p>
                Cuomo formed Weezer in 1992 with the drummer Patrick Wilson, the bassist Matt Sharp and the guitarist Jason Cropper.
               "Weezer" was the nickname given to Cuomo by his father when he was a toddler.
               Weezer signed with DGC, a subsidiary of Geffen Records, on June 25, 1993, and released their self-titled debut album,
                commonly known as the Blue Album, in May 1994
        
    </p>
    
</div>