@{
    ViewData["Title"] = "Home Page";
}
@model Message

<div class="text-lg-center">
        <h1>Rivers Cuomo Homepage</h1>
       <p>Welcome to the River Cuomo History and Forum Site</p>
       <br />
    
</div>

<div class="text-center">
       <p>
             If you press the following link it will take you to the <a href="/Home/History">History</a> of Rivers Cuomo!
           <br /> In that page you will learn about Rivers early life and the creation of his band Weezer!
     
</div>
<div class="text-center">
    <br />
    <p>
        And if you press this link it will take you the the <a href="/Home/Stories">Story Board</a> To discuss topics about
        Weezer and Rivers Cuomo
    </p>
</div>


