@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>
        Weezer Top Hits and Classics
    </h1>
</div>
<br/><br/>

    The <a href="https://www.youtube.com/playlist?list=OLAK5uy_kbgBewntTJ9MVzxPA3RZKgI_CVs8tgQ3k">Blue Album</a>
    <ul>
        <li>
           &nbsp<a href="https://www.youtube.com/watch?v=ENXvZ9YRjbo&ab_channel=WeezerVEVO">Say It Ain't So'</a>
        </li>
        <li>
           &nbsp<a href="https://www.youtube.com/watch?v=LHQqqM5sr7g&ab_channel=WeezerVEVO">The Undone Sweater</a>
        </li>
        <li>
            &nbsp<a href="https://www.youtube.com/watch?v=Kjr7US2Z9aY&ab_channel=Sandrova92">Buddy Holly</a>
        </li>
    </ul>
    <br /><br />
    the <a href="https://www.youtube.com/watch?v=phDuvBk_9ok&list=PL93D74FE1853F391B&ab_channel=TheMushshroom">Pinkerton</a> album
    <ul>
        <li>
           &nbsp<a href="https://www.youtube.com/watch?v=v2vWDWxYJBc&ab_channel=Weezer-Topic">Pink Triangle</a>
        </li>
        <li>
            &nbsp<a href="https://www.youtube.com/watch?v=1_XnVHDA0fI&list=PL93D74FE1853F391B&index=7&ab_channel=Andrew">El Scorcho</a>
        </li>
        <li>
            &nbsp<a href="https://www.youtube.com/watch?v=w9cOmtP5wxg&ab_channel=Weezer-Topic">Why Bother?</a>
        </li>
    </ul>
